<?xml version="1.0"?>
<!--
/**
 * MM Ajax 
 * 
 * @category     Novapc
 * @package      Novapc_Integracommerce
 * @copyright    Copyright (c) 2016 NovaPC (http://www.novapc.com.br/)
 * @author       NovaPC
 * @version      Release: 1.0.0
 */
-->
<config>
	<modules>
		<Novapc_Integracommerce>
			<version>2.0.0</version>
		</Novapc_Integracommerce>
	</modules>
    <frontend>
        <routers>
            <ajax>
                <use>standard</use>
                <args>
                    <module>Novapc_Integracommerce</module>
                    <frontName>integracommerce</frontName>
                </args>
            </ajax>
        </routers>
    </frontend>
	<global>
		<models>
            <integracommerce>
                <class>Novapc_Integracommerce_Model</class>
                <resourceModel>integracommerce_mysql4</resourceModel>
            </integracommerce>
            <integracommerce_mysql4>
                <class>Novapc_Integracommerce_Model_Mysql4</class>
                <entities>
                    <integration>
                        <table>npcintegra_integration</table>
                    </integration>
                    <order>
                        <table>npcintegra_order</table>
                    </order> 
                    <attributes>
                        <table>npcintegra_attributes</table>
                    </attributes>    
                    <queue>
                        <table>npcintegra_order_queue</table>
                    </queue>
                    <update>
                        <table>npcintegra_product_queue</table>
                    </update>
                    <sku>
                        <table>npcintegra_sku_attributes</table>
                    </sku>
                </entities>
            </integracommerce_mysql4>
        </models>
		<events>
            <catalog_product_attribute_update_after>
                <observers>
                    <Novapc_Integracommerce>
                        <class>Novapc_Integracommerce_Model_Observer</class>
                        <method>massproductQueue</method>
                        <type>singleton</type>
                    </Novapc_Integracommerce>
                </observers>
            </catalog_product_attribute_update_after>
            <catalog_product_save_after>
                <observers>
                    <Novapc_Integracommerce>
                        <class>Novapc_Integracommerce_Model_Observer</class>
                        <method>productQueue</method>
                        <type>singleton</type>
                    </Novapc_Integracommerce>
                </observers>
            </catalog_product_save_after>
           <cataloginventory_stock_item_save_after>
                <observers>
                    <Novapc_Integracommerce>
                        <class>Novapc_Integracommerce_Model_Observer</class>
                        <method>stockQueue</method>
                        <type>singleton</type>
                    </Novapc_Integracommerce>
                </observers>
            </cataloginventory_stock_item_save_after>
            <sales_order_save_after>
                <observers>
                    <Novapc_Integracommerce>
                        <class>Novapc_Integracommerce_Model_Observer</class>
                        <method>orderQueue</method>
                        <type>singleton</type>
                    </Novapc_Integracommerce>
                </observers>
            </sales_order_save_after>                                  
        </events>
		<resources>
            <integracommerce_setup>
                <setup>
                    <module>Novapc_Integracommerce</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </integracommerce_setup>
            <integracommerce_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </integracommerce_setup>
            <integracommerce_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </integracommerce_setup>
        </resources>
        <blocks>
            <integracommerce>
                <class>Novapc_Integracommerce_Block</class>
            </integracommerce>
        </blocks>
		<helpers>
            <integracommerce>
                <class>Novapc_Integracommerce_Helper</class>
            </integracommerce>
        </helpers>
	</global>  
    <admin>
        <routers>
            <integracommerce>
                <use>admin</use>
                <args>
                    <module>Novapc_Integracommerce</module>
                    <frontName>Integracommerce</frontName>
                </args>
            </integracommerce>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Novapc_Integracommerce>
                    <files>
                        <default>Novapc_Integracommerce.csv</default>
                    </files>
                </Novapc_Integracommerce>
            </modules>
        </translate>
        <layout>
            <updates>
                <integracommerce>
                    <file>integracommerce.xml</file>
                </integracommerce>
            </updates>
        </layout>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <integracommerce>
                                            <title>Integracommerce</title>
                                        </integracommerce>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <integracommerce_order>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>integracommerce/observer::getOrders</model></run>
            </integracommerce_order>
            <integracommerce_product_queue>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>integracommerce/observer::productUpdate</model></run>
            </integracommerce_product_queue>                       
        </jobs>
    </crontab>    
</config>